 <div class="contaner-fluid mt-5 about-style" id="aboutid"> 
   <div class="row">
   <div class="col-md-10 col-12 mx-auto">
     <h1 class="text-center main-heading">About Us</h1>
     <p class="text-center sub-heading">Lets Save the World</p>
     <div class="row">
        <div class="col-md-10 col-12 hero-text ">
              <figure>
                <img src="images/c2.jfif" alt="covid">
              </figure>

       </div>
      
       <!--about end -->
       <div class="col-md-10 col-12 hero-text d-flex justify-content-center align-items-center flex-column">
      <h2>The Pharmacy Website Company is owned and operated by PharmaEasy </h1>
      <h3>Essential Products To Have at Home During COVID-19!</h2>
      <p>All of our team are dedicated about what they do and are constantly looking for new innovations which can be used on our websites, to ensure that you always have the best website there is for your pharmacy.</p>
       </div>
     </div>
      </div>
   </div>
 </div>